nav {
  overflow: hidden;
  background-color: #333333;
}

nav ul{
  width: 100%;
  margin:0;
}

nav li{
  float: left;
  text-align: center;
  list-style: none;
}

nav li a {
  display: block;
  color: white;
  height: 30px;
  text-decoration: none;
  padding: 5px 1.5em;
}

nav li a:hover{
  background-color: #C74451;
}

.active{
  background-color: #C74451;
}